html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgoldenrod;
}

button, input {
    background-image: linear-gradient(#B78628, #C69320, #DBA514, #EEB609, #FCC201);
    /* border-radius: 5px; */
    border-color: #dba514;
    border-style: outset;
    color: black;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

input {
    size: 5vw;
    /* height: 10vw; */
}

.guess {
    margin-left: 0px;
    margin-right: 0px;
}

input:hover, button:hover {
    background-image: linear-gradient(to top, #B78628, #C69320, #DBA514, #EEB609, #FCC201);
}

input:focus, button:focus {
    background-image: linear-gradient(to top, rgb(230, 178, 66), rgb(241, 191, 72), rgb(248, 195, 51), rgb(255, 203, 45), rgb(251, 201, 36));
    outline: none;
    border-color: rgb(251, 194, 38);
}

.init {
    display: none;
}

/* input {
    background-color: darkgoldenrod;
    border-radius: 10px;
    border-color: black;
    color: black;
} */

input::placeholder {
    color: rgb(110, 81, 0);
}